@import "https://use.fontawesome.com/releases/v5.6.3/css/all.css";

body {
  margin: 0;
  padding: 0;
  bottom: 0;
  box-sizing: border-box;
  background-color: #f5f5f5;
}
div,
input,
fieldset,
h1,
p,
textarea,
button {
  border: none;
  resize: none;
}
li {
  list-style: none;
}
